@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.profissionais {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.profissional {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#profissional {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: flex-start; /* Ajusta o alinhamento dos itens */
    padding-top: 10px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profissional2{
    margin: 0 auto;
    height: auto; 
    width: calc(100% - 80px);
    padding: 20px 0 30px; 
    display: flex;
    gap: 30px;
    justify-content: center; 
    
}

.profissional3{
    margin: 0 auto;
    height: auto; 
    width: calc(100% - 80px);
    padding: 20px 0 30px; 
    display: flex;
    gap: 30px;
    justify-content: center; 
    
}

.profissional4{
    margin: 0 auto;
    height: auto; 
    width: calc(100% - 80px);
    padding: 20px 0 30px; 
    display: flex;
    gap: 30px;
    justify-content: center; 
    
}

.quadradoPro{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 334px;
    height: 503px;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 30px;
    

}

#iconelocal{
    width: 12px;
    height: 19px;
}

.foto{
    width: 300px;
    height: 210px;
}

#fotofoto{
    width: 300px;
    height: 210px;
    border-radius: 10px;
    padding-bottom: 20px;
}

.botao-profissional1{
    background-color: #F0EAFF;
    color: #6c63ff;
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 14px;
    font-weight: 300;
    border: none;
}

.botao-profissional{
    background-color: #EAEAEA;
    color: #6A6A6A;
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 14px;
    font-weight: 300;
    border: none;
}


#Nome {
    font-size: 18pt;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sobremim{
    width: 300px;
    height: 150px;
    overflow: auto;
}

#sobre{
    font-size: 8pt;
    font-weight: 300;
    color: #555;
    text-align: justify;
    padding-bottom: 10px

}

.local{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid #ccc; 
}

#localizacao{
    font-size: 10pt;
    color: #555;
    padding-bottom: 10px;
    padding-left: 10px;
}

.vermais{
    padding-top: 20px;
}
.botao-vermais {
    border-radius: 30px;
    padding: 5px 75px;
    border-color: #936CFB;
    color: #936CFB;
    background-color: #ffffff;
}

.botao-vermais:hover {
    background-color: #936CFB;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;
    
}


.Titulo2 {
    font-size: 30px;
    color: #1F3556;
    text-align: left;
    position: relative;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-top: 80px;
}

.Titulo2::after {
    content: "";
    display: block;
    width: 69px;
    height: 5px;
    background-color: #936CFB;
    margin-top: 2px;
}



.barradefiltro{
    background-color: #ffffff;
    margin: 0 auto;
    border-radius: 15px;
    height: 80px;
    width: calc(100% - 370px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

}

select {
    background-color: #e0e0e0;
    width: 270px; 
    height: 36px; 
    border:none; 
    border-radius: 5px; 
    padding: 5px 10px; 
    font-size: 14px; 
    color: #333; 
    cursor: pointer; 
}

label {
    font-size: 14px;
    margin-bottom: 8px;
    color: #333;
    display: block;
}

.btn-buscar {
    background-color: #936CFB; 
    color: white; 
    border: none;
    border-radius: 5px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    display: flex;
    align-items: center; 
    gap: 10px; 
}


.btn-buscar img {
    width: 18px;
}

.Seletor{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
