.Conteiner {
    max-width: 1300px;
    margin: 0 auto; 
    padding: 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    flex-wrap: wrap; 
}


.caixaEsquerda {
    width: 367px; 
    height: 651px; 
    background-color: #1F3556;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    background-image: url('../images/shape.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 250px 250px;
    padding-top: 120px;
}

.texto-saude {
    font-size: 24px;
    line-height: 1.5;
    text-align: center; 
}

.quadrado-roxo {
    display: inline-block;
    background-color: #6c63ff;; 
    color: white;
    padding: 4px;
    border-radius: 4px; 
}

#amarelo {
    color: #FFCA6A;
    font-weight: 600;
}

#rosa {
    color: #F76EB6;
    font-weight: 600;
}


.form-container {
    width: 100%;
    max-width: 800px;
    height: 651px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.common-fields{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    

}

.titulodapagina{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;

}

#logoCadastro{
    width: 85px;
}

h2 {
    text-align: center;
    color: #1F3556;
}

.estiloInputs{
    border-color: none;
    flex-direction: row;
    display: flex;
    gap: 30px;

}

label {
    font-weight: 200;
    display: block;
    margin-bottom: 3px;
    font-size: 12px;
    color: #1F3556;
}

input, select, textarea {
    width: 100%;
    padding: 15px 50px 15px 10px;
    margin-bottom: 16px;
    border-radius: 16px;
    border: none;
    font-size: 12px;
    background-color: #F2F2F2;
}

#avancar-btn {
    padding: 10px 45px;
    background-color: #936CFB;
    color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}

.retornalogin{
    padding-top: 10px;
    font-size: 12px;
}

.loginlink{
    color: #936CFB;
    text-decoration: none;
}

button:hover {
    background-color: #2e298b;
}

#escolha-container{
    display: flex; 
    justify-content: center; 
    gap: 20px; 
}

.opcao-btn {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    border: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

#usuario-btn {
    background-color: #F0EAFF;
}


#medico-btn {
    background-color: #F0EAFF;
}

.opcao-btn img {
    width: 40px; 
    margin-bottom: 5px;
}

.opcao-btn span {
    font-size: 14px;
    font-weight: 400;
    color: #936CFB; 
}

.opcao-btn:hover {
    opacity: 0.8;
}

.barraderolagem{
    width: 770px; 
    height: 431px; 
    padding: 15px; 
    overflow-y: auto; 
    overflow-x: hidden; 
    border-radius: 8px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mensagem-sucesso {
    text-align: center;
    color: green;
    font-size: 18px;
    font-weight: bold;
}
