/*.caixa-roxa {
    background-color:  #383347;
    margin: 0 auto;
    border-radius: 30px;
    height: 380px;
    width: calc(100% - 80px);
    display: flex;
    justify-content:center;
    align-items: center;
} */

.texto-saude {
    color: #fff;
    font-size: 38px;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 20px;
    word-wrap: break-word;
    padding-left: 120px;
}

.caixa-roxa {
    background-color: #1F3556;
    margin: 0 auto;
    border-radius: 30px;
    height: 380px;
    width: calc(100% - 80px);
    display: flex;
    justify-content:flex-start;
    align-items: center;
    background-image: url('../images/shape.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 310px 310px;
}

.conteiner{
    max-width: calc(100% - 80px);
    margin: 20px auto;
    padding: 20px;
} 

.quadrado-roxo {
    display: inline-block;
    background-color: #6c63ff;; /* Fundo sólido roxo */
    color: white; /* Cor do texto ajustada para contraste */
    padding: 4px; /* Espaçamento interno */
    border-radius: 4px; /* Cantos arredondados (opcional) */
}

#amarelo {
    color: #FFCA6A;
    font-weight: 600;
}

#rosa {
    color: #F76EB6;
    font-weight: 600;
}
.foto {
    width: 300px;
    height: 270px;
    margin-bottom: -90px;
    margin-top: 310px;
    border-radius: 50%;
    margin-left: 100px;
}

.btn-download {
    display: flex;
    align-items: center;
    background-color: #F0EAFF; /* Cor de fundo do botão */
    color: #936CFB;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    gap: 10px;
}



/* Efeito ao passar o mouse sobre o botão */
.btn-download:hover {
    background-color: #6744c5; /* Cor de fundo ao passar o mouse */
    color: white;
}

 /* Centraliza o mapa na página */
 .map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* Estilo do mapa */
iframe {
    width: calc(100% - 80px);
    height: 336px;
    border: 0; /* Remove a borda do iframe */
    border-radius: 16px;
    padding-top: 30px;
}

.nomeEfuncao{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 130px;
    border-bottom: #cacaca 2px solid;
}

#nome{
    font-size: 35px;
    color: #0D2549;
}

#funcao{
    font-size: 12px;
    padding-bottom: 20px;
}
img{
    width: 120px;
}

.titulos{
    font-size: 35px;
    color: #0D2549;
    padding-top: 20px;

}

.sobremim{
    background-color: #EEEEEE;
    border-radius: 16px;
    padding: 20px 30px;
}

.formação{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 35px;
}

.escolaridade{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;

}

.areadedownload{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 30px 30px;
}

.circle {
    width: 120px;
    height: 120px;
    background-color: #F0EAFF;
    border-radius: 50%; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    color: #936CFB; 
    margin: 0 auto; 
}

.circle .number {
    font-size: 50px;
    font-weight: bold;
}

.circle .text {
    font-size: 20px;
}

.circle-caption {
    margin-top: 10px;
    font-size: 16px;
    color: #333; /* Cor do texto abaixo do círculo */
}

.anosdeexperiencia {
    text-align: center; /* Centraliza o texto abaixo do círculo */
}

.experiencia{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.divformação {
    display: flex;
    gap: 40px;
    flex-direction: column;
}


#whats{
    height: 60px;
    width: 60px;
    margin-left: 48%;
}

.paragrafo-agende{
   text-align: center;
   color: rgb(92, 150, 6);
}